
.agree,.decline{
    color: white;

}
.agree{
    background-color: green;
}
.decline{
    background-color: red;
}

.detail{
    margin: auto;
    font-size: 15px;
    text-align: justify;
    margin-bottom: 10px;
    img{
        text-align: center;
        width: 500px;
        height: 350px;
    }
}