
<div class="main">
  <div class="boards">
   <div class="rateboard">
     <h1>Exchange Rate</h1>
     <div class="rateInfo">
     <div class="rateInfoUSD">
       <p class="header">USD: </p><p class="sub">1</p>
     </div>
     <div class="rateInfoZWL">
       <p class="header">ZWL: </p><p class="sub">400</p>
     </div>
     </div>
     <p>N.B this is the exchange rate used in conversion of USD prices to ZWL for services offered by YMF</p>
     <button mat-raised-button (click)="RatePopUp()">CHANGE</button>
    </div>
   <div class="servicesboard">
     <div class="subsboard">
       <h2>SUBSCRIPTIONS</h2>
       <div class="subInfoHeader">
        <p>SUB NAME</p>
        <p>VALID (day)</p>
        <p>PRICE (usd)</p>
        <p>PRICE (zwl)</p>
        <div class="whiteSpace"></div>
       </div>
       <div class="window">
        <div class="info">
          <p>General</p>
          <p>30</p>
          <p>5</p>
          <p>2000</p>
          <button mat-button style="color: green;" (click)="ServicePopup()"><i class="far fa-edit"></i></button>
          <button mat-button style="color: red;" (click)="ApproveAction()"><i class="far fa-trash-alt"></i></button>
        </div>
       </div>
       <button mat-raised-button style="background-color:#ffcd04; color:white;" (click)="ServicePopup()">ADD SUBSCRIPTION</button>
     </div>
     <div class="merchboard">
      <h2>YMF MERCH</h2>
      <div class="subInfoHeader">
       <p>MERCH</p>
       <p>PRICE (usd)</p>
       <p>PRICE (zwl)</p>
       <div class="whiteSpace"></div>
      </div>
      <div class="window">
        <div class="info">
          <p>PVC Card</p>
          <p>15</p>
          <p>6000</p>
          <button mat-button style="color: green;" (click)="ServicePopup()"><i class="far fa-edit"></i></button>
          <button mat-button style="color: red;" (click)="ApproveAction()"><i class="far fa-trash-alt"></i></button>
        </div>
      </div>
      <button mat-raised-button style="background-color:#ffcd04; color:white;" (click)="ServicePopup()">ADD MERCH</button>
     </div>
   </div>
  </div>
    <div class="PendingTransactions">
      <h1>Pending Transactions</h1>
    <div class="transHeader">
      <p>Customer Name</p>
      <p>Date</p>
      <p>RefCode</p>
      <p>Amount</p>
      <p>Pupose</p>
      <div class="whitespace"></div>
    </div>
    <div class="window">
      <div class="Info">
        <p>Muwodzeri D</p>
        <p>13/05/2022</p>
        <p>zzxyue447u</p>
        <p>1000</p>
        <p>Monthly Sub</p>
        <button mat-button style="color: green;"><i class="fas fa-check"></i></button>
        <button mat-button style="color: red;" (click)="ApproveAction()"><i class="far fa-trash-alt"></i></button>
      </div>
    </div>
    </div>
    <div class="CompletedTransactions">
      <h1>Approved Transactions</h1>
      <div class="transHeader">
        <p>Customer Name</p>
        <p>Date</p>
        <p>RefCode</p>
        <p>Amount</p>
        <p>Pupose</p>
        <p>Platform</p>
      </div>
      <div class="window">
        <div class="Info">
          <p>Muwodzeri D</p>
          <p>13/05/2022</p>
          <p>zzxyue447u</p>
          <p>1000</p>
          <p>Monthly Sub</p>
          <p>PayNow</p>
        </div>
      </div>
      <button mat-button (click)="AddTransaction()"> <p>Add Transaction</p> </button>
  </div>
</div>
