
<div class="main">
  <div class="boards">
   <div class="rateboard">
     <h1>Exchange Rate</h1>
     <div class="rateInfo">
     <div class="rateInfoUSD">
       <p class="header">USD: </p><p class="sub">1</p>
     </div>
     <div class="rateInfoZWL">
       <p class="header">ZWL: </p><p class="sub">{{rate}}</p>
     </div>
     </div>
     <p>N.B this is the exchange rate used in conversion of USD prices to ZWL for services offered by YMF</p>
     <button mat-raised-button (click)="RatePopUp()">CHANGE</button>
    </div>
   <div class="servicesboard">
     <div class="subsboard">
       <h2>SUBSCRIPTIONS AND PAYMENTS</h2>
       <div class="subInfoHeader">
        <p>NAME</p>
        <p>PRICE (usd)</p>
        <p>PRICE (zwl)</p>
        <div class="whiteSpace"></div>
       </div>
       <div class="window">
        <div *ngFor="let item of subs" class="info">
          <p>{{item.ItemName}}</p>
          <p>{{item.ItemPrice}}</p>
          <p>{{CalculateZWLPrices(item.ItemPrice)}}</p>
          <button mat-button style="color: red;" (click)="ApproveAction(item._id)"><i class="far fa-trash-alt"></i></button>
        </div>
       </div>
     </div>
     <div class="merchboard">
      <h2>YMF MERCH</h2>
      <div class="subInfoHeader">
       <p>MERCH</p>
       <p>PRICE (usd)</p>
       <p>PRICE (zwl)</p>
       <div class="whiteSpace"></div>
      </div>
      <div class="window">
        <div *ngFor="let item of merch" class="info">
          <p>{{item.ItemName}}</p>
          <p>{{item.ItemPrice}}</p>
          <p>{{CalculateZWLPrices(item.ItemPrice)}}</p>
          <button mat-button style="color: red;" (click)="ApproveAction(item._id)"><i class="far fa-trash-alt"></i></button>
        </div>
      </div>
     </div>
   </div>
   <button mat-raised-button style="background-color:#ffcd04; color:white;" (click)="ServicePopup()">ADD PAYMENT or MERCH</button>
  </div>
    <div class="PendingTransactions">
      <h1>Pending Transactions</h1>
    <div class="transHeader">
      <p>Customer Name</p>
      <p>Date</p>
      <p>RefCode</p>
      <p>Amount</p>
      <p>Pupose</p>
    </div>
    <div class="window" style="background-color: rgb(207, 205, 205);">
      <p style="width:100% ;text-align: center;" *ngIf="PendingTransactions.length<1">No pending transactions at the moment</p>
      <div style="border-bottom: 2px solid black;" *ngFor="let item of PendingTransactions" class="Info" (click)="ManageTransaction(item)">
        <p>{{item.customer}}</p>
        <p>{{formartDate(item.date)}}</p>
        <p>{{item.refcode}}</p>
        <p>{{item.amount}}</p>
        <p>{{item.purpose}}</p>
      </div>
    </div>
    </div>
    <div class="CompletedTransactions">
      <h1>Approved Transactions</h1>
      <div class="transHeader">
        <p>Customer Name</p>
        <p>Date</p>
        <p>RefCode</p>
        <p>Amount</p>
        <p>Pupose</p>
        <p>Platform</p>
      </div>
      <div class="window" style="background-color: rgb(209, 208, 208);">
        <p style="width:100% ;text-align: center;" *ngIf="CompletedTransactions.length<1">No pending transactions at the moment</p>
        <div style="border-bottom: 2px solid black;" [style]="SetColor(item.status)" *ngFor="let item of CompletedTransactions" class="Info" (click)="ManageTransaction(item)">
          <p>{{item.customer}}</p>
          <p>{{formartDate(item.date)}}</p>
          <p>{{item.refcode}}</p>
          <p>{{item.amount}}</p>
          <p>{{item.purpose}}</p>
          <p>{{item.paymentPlatform}}</p>
        </div>
      </div>
      <button mat-button (click)="AddTransaction()"> <p>Add Transaction</p> </button>
  </div>
</div>
