<div class="Main">
  <div class="ads">
    <img src="assets/ymftopAd.png" alt="ad">
  </div>
  <div *ngIf="blogs.length>0 &&!showLoader" class="header animate__animated animate__fadeIn">
    <img src="assets/ymfTransAlt.png" alt="">
    <h1>BLOG</h1>
  </div>
<div class="sk-cube-grid" *ngIf="showLoader">
  <div class="sk-cube sk-cube1"></div>
  <div class="sk-cube sk-cube2"></div>
  <div class="sk-cube sk-cube3"></div>
  <div class="sk-cube sk-cube4"></div>
  <div class="sk-cube sk-cube5"></div>
  <div class="sk-cube sk-cube6"></div>
  <div class="sk-cube sk-cube7"></div>
  <div class="sk-cube sk-cube8"></div>
  <div class="sk-cube sk-cube9"></div>
</div>
<div *ngIf="NoBlogs" style="text-align: center;">
  <h3>Articles Not Available</h3>
  <i class="far fa-folder-open  fa-10x"></i>
</div>
  <div class="cards animate__animated animate__fadeIn" *ngIf="blogs.length>0">
    <div class="card animate__animated animate__fadeInUp" *ngFor="let blog of blogs; let i = index" [routerLink]="'/blog/'+blog._id">
      <img [src]="getImageUrl(blog.blogPicture)" alt="">
      <div class="info">
      <h2>{{blog.Topic}}</h2>
      <h4><i class="far fa-edit"></i> {{blog.Author}} <br> <i class="far fa-comment-alt"></i>  {{getCommentCount(i)}}</h4>
      <p>{{blog.Summary}}</p>
    </div>
  </div>
  </div>
 
</div>
