<h1 mat-dialog-title>YMF MERCH</h1>
<div mat-dialog-content>
  <form [formGroup]="SubsForm" class="Subscriptions" *ngIf="data.subs">
   <mat-form-field appearance="standard" style="width: 80%">
     <mat-label>Subscription Name</mat-label>
     <input
       matInput
       type="text"
       placeholder="Cooperate Subscription"
       formControlName="subname"
     />
   </mat-form-field>
   <mat-form-field appearance="standard" style="width: 40%">
     <mat-label>Validity (in Days)</mat-label>
     <input
       matInput
       type="number"
       placeholder="30"
       formControlName="validity"
     />
   </mat-form-field>
   <br>
   <mat-form-field appearance="standard" style="width: 40%">
     <mat-label>Price in USD</mat-label>
     <input
       matInput
       type="number"
       placeholder="50"
       formControlName="price"
     />
   </mat-form-field>
  </form>
  <form [formGroup]="MerchForm" class="Merch" *ngIf="data.merch">
    <mat-form-field appearance="standard" style="width: 80%">
      <mat-label>Merch Name</mat-label>
      <input
        matInput
        type="text"
        placeholder="Cooperate Subscription"
        formControlName="merch"
      />
    </mat-form-field>
    <mat-form-field appearance="standard" style="width: 40%">
      <mat-label>Price in USD</mat-label>
      <input
        matInput
        type="number"
        placeholder="50"
        formControlName="price"
      />
    </mat-form-field>
   </form>
</div>
<div mat-dialog-actions>
  <button mat-button>ADD</button>
  <button mat-button  cdkFocusInitial>Cancel</button>
</div>
