<h3 mat-dialog-title>ADD TRANSACTION</h3>
<div mat-dialog-content class="detail">
  <mat-spinner class="uploader-status" *ngIf="loading"></mat-spinner>
  <p *ngIf="loading">Please Wait....</p>
   <form *ngIf="!loading" [formGroup]="TransactionAddForm">
    <mat-form-field appearance="standard" style="width: 80%">
      <mat-label>Customer Name</mat-label>
      <input
        matInput
        type="text"
        placeholder="Doe J"
        formControlName="customerName"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker">
        <i class="far fa-calendar-alt"></i>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="standard" style="width: 80%">
      <mat-label>Ref Code</mat-label>
      <input
        matInput
        type="text"
        placeholder="Reference Code of Transaction"
        formControlName="refcode"
      />
    </mat-form-field>
    <mat-form-field appearance="standard" style="width: 50%">
      <mat-label>Amount</mat-label>
      <input
        matInput
        type="number"
        placeholder="Amount payed"
        formControlName="amount"
      />
    </mat-form-field>
    <mat-form-field appearance="standard" style="width: 20%;margin-left: 20px;">
      <mat-label>Currency</mat-label>
      <select matNativeControl formControlName="currency">
        <option value="" selected>Please Select Currency</option>
        <option value="USD">USD</option>
        <option value="ZWL">ZWL</option>
      </select>
    </mat-form-field>
    <mat-form-field appearance="standard" style="width: 80%">
      <mat-label>Purpose</mat-label>
      <input
        matInput
        type="text"
        placeholder="Purpose of Payment"
        formControlName="purpose"
      />
    </mat-form-field>
    <mat-form-field appearance="standard" style="width: 30%">
      <mat-label>Platform</mat-label>
      <select matNativeControl formControlName="platform">
        <option value="" selected></option>
        <option value="paynow">PAYNOW</option>
        <option value="ecocash">Ecocash</option>
        <option value="onemoney">OneMoney</option>
        <option value="telecash">Telecash</option>
        <option value="mkuru">Mukuru</option>
        <option value="banktransfer">Bank Transfer</option>
      </select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="standard" style="width: 30%">
      <mat-label>Payment Status</mat-label>
      <select matNativeControl formControlName="status">
        <option value="" selected></option>
        <option value="completed">Payment completed</option>
        <option value="pending">Pending Approval</option>
      </select>
    </mat-form-field>
    <mat-form-field appearance="standard" style="width: 80%">
      <mat-label>Contact Details</mat-label>
      <input
        matInput
        type="text"
        placeholder="Phone Number"
        formControlName="contacts"
      />
    </mat-form-field>
   </form>
</div>
<div mat-dialog-actions>
  <button (click)="AddTransaction()" class="decline" mat-raised-button style="background-color:green;color: white;" [disabled]="!TransactionAddForm.valid">Add <i class="far fa-plus-square"></i></button>
  <button (click)="Close()" class="decline" mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
</div>
